 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Inter', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #abd8b1;

}

#container {
    width: 90%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgb(122, 190, 122);


}


label {
    padding-bottom: 10px;
}

.img-form{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.list {
    padding: 10px;
}


input, select {
    border-radius: 10px;
    height: 30px;
    border: none;
    margin-top: 10px;
    padding: 5px;
    
}

select[id="disponivel"]{
    cursor: pointer;
    margin: 15px;   
    background-color: white;
}

.disponivel {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    
}

button[type="submit"] {
background-color: #4CAF50;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  place-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


table{
    border-collapse: separate;
    width: 300px;
    gap: 10px;
    overflow: auto;
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}


#produtosLista {
    text-align: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.list {
    margin: 20px;
    display: block;
    justify-content: center;
}

tr {
    text-align: center;
}